body{
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}


.footer{
    

    background-color:#def2f1;
     bottom: 0;
    position: fixed;
    color:#17252a;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    line-height: 14px;
    text-shadow: 2px 2px black;
}



#camera , #result
{
  border: 2px dashed black;
  width: 300px;
  height: 300px; 
}